<div class="app-container">
  <header class="app-header">
    <div class="top-bar">
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/color-picker" class="nav-link">Color Picker</a></li>
        <li><a routerLink="/palette-editor" class="nav-link">Palette Editor</a></li>
        <li><a routerLink="/add-color" class="nav-link">Add Color</a></li>
      </ul>
    </nav>
    <h1>Trending Color Palettes</h1>
    <p class="header-text">Explore a plethora of captivating color palettes and ignite your creativity!</p>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
