<div class="color-settings">
    <div class="slider-container">
      <label for="hue">Hue</label>
      <input type="range" id="hue" name="hue" min="0" max="360" [(ngModel)]="color.hue">
    </div>
    <div class="slider-container">
      <label for="saturation">Saturation</label>
      <input type="range" id="saturation" name="saturation" min="0" max="100" [(ngModel)]="color.saturation">
    </div>
    <div class="slider-container">
      <label for="lightness">Lightness</label>
      <input type="range" id="lightness" name="lightness" min="0" max="100" [(ngModel)]="color.lightness">
    </div>
  </div>
  